/**
 * Colors Base
 * -------------------------------------------------------------------------- */
:root {
  --theme-c-text-light-1: #1a1a1a;
  --theme-c-text-light-2: rgba(60, 60, 60, 0.7);
  --theme-c-text-light-3: rgba(60, 60, 60, 0.33);
  --theme-c-text-light-4: rgba(60, 60, 60, 0.18);

  --theme-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --theme-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --theme-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --theme-c-text-dark-4: rgba(235, 235, 235, 0.18);

  --theme-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --theme-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --theme-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --theme-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --theme-c-white: #fff;
  --theme-c-white-soft: #f9f9f9;
  --theme-c-white-mute: #f1f1f1;

  --theme-c-black: #1a1a1a;
  --theme-c-black-pure: #000000;
  --theme-c-black-soft: #242424;
  --theme-c-black-mute: #2f2f2f;

  --theme-c-orange: #ff6f00;
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root{
  --theme-c-text-1: var(--theme-c-text-light-1);

  --theme-c-brand: var(--theme-c-orange);

  --theme-c-divider: var(--theme-c-divider-light-1);
  --theme-c-divider-light: var(--theme-c-divider-light-2);

  --theme-c-divider-inverse: var(--theme-c-divider-dark-1);
  --theme-c-divider-inverse-light: var(--theme-c-divider-dark-2);
}

.dark{
  --theme-c-text-1: var(--theme-c-text-dark-1);

  --theme-c-divider: var(--theme-c-divider-dark-1);
  --theme-c-divider-light: var(--theme-c-divider-dark-2);

  --theme-c-divider-inverse: var(--theme-c-divider-light-1);
  --theme-c-divider-inverse-light: var(--theme-c-divider-light-2);
}
